!!!
%html.no-js{ lang: 'de' }
  %head
    %meta{ charset: 'utf-8'}
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    %title FlinkFinger - Softwareentwicklung aus Leidenschaft
    %meta{ content: 'FlinkFinger - Softwareentwicklung aus Leidenschaft', name: 'description' }
    %meta{ content: 'Anforderungsanalyse', name: 'Keywords' }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }

    %link{ href: 'http://fonts.googleapis.com/css?family=Droid+Sans', rel: 'stylesheet', type: 'text/css' }

    = stylesheet_link_tag 'application'
  %body
    %article
      %section#home
        = image_tag('flinkfinger.png', class: 'img-responsive', alt: 'FlinkFinger GmbH')

      %header#header
        %nav.navbar{ role: 'navigation' }
          .container
            %button#mobileMenu.fa.fa-bars{ type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' }}
            .navbar-header
              %a{ href: '#about' }
                = image_tag('flinkfinger-ls.png', alt: 'FlinkFinger GmbH')
            .navbar-collapse.collapse
              %ul.nav.navbar-nav.navbar-right
                %li
                  %a.scrollTo{ href: '#services' } Dienstleistungen
                %li
                  %a.scrollTo{ href: '#references' } Referenzen
                %li
                  %a.scrollTo{ href: '#contact' } Kontakt

      %section#about
        .container
          %p.about Die flinken Finger arbeiten seit 2010 unabhängig an Webseiten, Online-Shops und komplexen Webapplikationen mit neusten Technologien. Mit mehr als 20 Jahren Erfahrung in der Entwicklung von Software verfüge ich über tiefgreifende Kenntnisse in verschiedenen Bereichen.

          .me.text-center
            .picture
              = image_tag 'michael-kessler.jpg', class: 'img-responsive', alt: 'Michael Kessler'

          %p.text-center.name
            Michael
            %span Kessler
          %hr
          %p.text-center.about-me Ich bin ein leidenschaftlicher Softwareentwickler, Open-Source Enthusiast und zertifizierter Scrum-Master.

          %p.socials.text-center
            = link_to '', 'https://www.xing.com/profile/Michael_Kessler20', class: 'fa fa-xing fa-2x', title: 'Xing', target: '_blank'
            = link_to '', 'https://ch.linkedin.com/pub/michael-kessler/49/11/ab6', class: 'fa fa-linkedin fa-2x', title: 'LinkedIn', target: 'blank'
            = link_to '', 'https://plus.google.com/+MichaelKesslerStarkermann/about', class: 'fa fa-google-plus fa-2x', title: 'Google+', target: '_blank'
            = link_to '', 'https://www.twitter.com/netzpirat', class: 'fa fa-twitter fa-2x', title: 'Twitter', target: '_blank'
            = link_to '', 'https://www.github.com/netzpirat', class: 'fa fa-github fa-2x', title: 'GitHub', tarket: '_blank'
            = link_to '', 'https://www.facebook.com/michael.kessler.netzpirat', class: 'fa fa-facebook fa-2x', title: 'Facebook', target: '_blank'
            = link_to '', 'skype:mkessler74', class: 'fa fa-skype fa-2x', title: 'Skype'
            = link_to '', 'mailto:michi@flinkfinger.com', class: 'fa fa-envelope-o fa-2x', title: 'Email'

      %section#services
        .container
          %h2 Dienstleistungen
          %p Ich bitte folgende Dienstleistungen rund um die Softwareentwicklung an:

          %dl.dl-horizontal
            %hr

            %dt Analyse
            %dd Aufnahme ihrer Anforderungen in Gespräche/Workshops, welche anschliessend analysiert und in eine strukturierte Form gebracht werden, welche als Grundlage zur Entwicklung des Systemes dienen. Je nach Projekt kommen unterschiedliche Prozesse zum Zug, welche ausserdem optimal an die Bedürfnisse angepasst werden.

            %hr

            %dt Design
            %dd Zusammenstellung der Komponenten, welche durch ein optimales Zusammenspiel die Grundlage des Systemes bilden. Integration, Test und Dokumentation sind elementar, damit die Entwicklung reibungslos abläuft und die nichtfunktionalen Anforderungen erfüllt werden. Umsetzung von Prototypen zur Verifizierung neuer Ansätze.

            %hr

            %dt Leitung
            %dd Zusammenstellung des Teams; Organisation, Zuweisung und Kontrolle von Anforderungen; Steuerung und Visualisierung von der Informationen; Dokumentation und Schulung - wichtig um nicht den Überblick und damit die Entscheidungsfähigkeit im Projekt zu verlieren. Einsatz von agilen Prozessen mit kurzen Entwicklungszyklen für schnelle Rückmeldungen und daher auch frühzeitige Fehlererkennung.

            %hr

            %dt Entwicklung
            %dd Umsetzung der architekturkonformen, funktionalen Anforderungen. Dazu gehören auch das Schreiben von Testfällen um die Funktionalität automatisch zu verifizieren und damit den Betrieb und die Weiterentwicklung sicherzustellen.

            %hr

          %h3 Technologien
          %p Als Full-Stack Software-Entwickler habe ich Kentnisse aller Technologien, welche nötig sind um erfolgreich Software Projekte umzusetzten.

          = image_tag 'wordcloud.jpg', class: 'img-responsive', alt: 'Service Tag Cloud'

          %h3 Spezialgebiete

          %p Ich bin spezialisiert auf die Entwicklung von Webapplikationen mit den folgenden Technologien:

          %ul.list-inline.specialized
            %li.label= link_to 'HTML5', 'https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5', target: '_blank'
            %li.label= link_to 'CSS3', 'https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3', target: '_blank'
            %li.label= link_to 'JavaScript', 'https://developer.mozilla.org/en/docs/Web/JavaScript', target: '_blank'
            %li.label= link_to 'CoffeeScript', 'http://coffeescript.org/', target: '_blank'
            %li.label= link_to 'Ruby', 'https://www.ruby-lang.org/en/', target: '_blank'
            %li.label= link_to 'Node', 'http://nodejs.org/', target: '_blank'

          %p
            Um nicht das Rad ständig neu zu erfinden, setze ich moderne Frameworks wie z.B.
            = succeed ',' do
              %em= link_to 'Backbone', 'http://backbonejs.org/', target: '_blank'
            %em= link_to 'Marionette', 'http://marionettejs.com/', target: '_blank'
            und
            %em= link_to 'Ruby on Rails', 'http://rubyonrails.org/', target: '_blank'
            ein.

          %p
            Für kostengünstige Online-Shops setze ich bevorzugt
            = link_to 'Shopify', 'http://www.shopify.com/?ref=mkse'
            ein, ich fertige aber auch Online-Shops auf Basis anderer Produkte.

          %blockquote
            Technologien ändern sich stetig, Programmiersprachen kommen und gehen; die darunterliegenden Konzepte sind oft die gleichen und entwickeln sich nur langsam. Durch kontinuierliches Lernen und Experimentieren bleibe ich am Puls der Zeit. In meiner bisherigen Laufbahn habe ich produktive Systeme mit folgenden Technologien, Sprachen, Frameworks und Applikationsservern entwickelt:
            %em Assembler, Basic, C, C++, Pascal, Lingo, TCL, Delphi, PHP, ASP, ColdFusion, Java, JEE, JSF, XML, XSLT, SOAP, RPC, Python, ContentServ, JBoss, Vignette, Wordpress, Radiant, Spring, Struts
            und viele mehr die ich schon längst wieder vergessen habe...

          %i.fa.fa-html5.fa-4x
          %i.fa.fa-css3.fa-4x

      %section#references
        .container
          %h2 Referenzen
          %p In den letzten Jahrzehnten durfte ich an unzähligen Projekten mitarbeiten:

          .row.thumbnails
            .col-xs-6.col-md-3
              .thumbnail
                .front
                  = image_tag 'references/mobilezone.jpg'
                .back
                  %h2.text-center Mobilezone

                  %ul.text-center.list-unstyled
                    %li Anforderungsanalyse
                    %li Entwicklungsprozess
                    %li System Architektur
                    %li Teamleiter
                    %li Hauptentwickler

                  .reference
                    .fa.fa-external-link.fa-2x
                    = link_to 'www.mobilezone.ch', 'http://www.mobilezone.ch', target: '_blank'

            .col-xs-6.col-md-3
              .thumbnail
                .front
                  = image_tag 'references/recomy.jpg'
                .back
                  %h2.text-center RECOMY

                  %ul.text-center.list-unstyled
                    %li Analyse
                    %li Beratung
                    %li Entwicklungsprozess
                    %li System Architektur
                    %li Testkonzept
                    %li Entwicklung

                  .reference
                    .fa.fa-external-link.fa-2x
                    = link_to 'www.recomy.com', 'https://www.recomy.com', target: '_blank'

            .col-xs-6.col-md-3
              .thumbnail
                .front
                  = image_tag 'references/easysmokers.jpg'
                .back
                  %h2.text-center Easysmokers

                  %ul.text-center.list-unstyled
                    %li Shopify Shop
                    %li Entwicklung

                  .reference
                    .fa.fa-external-link.fa-2x
                    = link_to 'www.easysmokers.ch', 'http://www.easysmokers.ch', target: '_blank'

            .col-xs-6.col-md-3
              .thumbnail
                .front
                  = image_tag 'references/vdr.jpg'
                .back
                  %h2.text-center Valse des Roses

                  %ul.text-center.list-unstyled
                    %li Shopify Shop
                    %li Entwicklung

                  .reference
                    .fa.fa-external-link.fa-2x
                    = link_to 'www.valse-des-roses.ch', 'http://www.valse-des-roses.ch', target: '_blank'

            .col-xs-6.col-md-3
              .thumbnail
                .front
                  = image_tag 'references/turquoise-istanbul.jpg'
                .back
                  %h2.text-center Turquoise Istanbul

                  %ul.text-center.list-unstyled
                    %li Shopify Shop
                    %li Entwicklung

                  .reference
                    .fa.fa-external-link.fa-2x
                    = link_to 'shop.turquoise-istanbul.com', 'http://shop.turquoise-istanbul.com', target: '_blank'

            .col-xs-6.col-md-3
              .thumbnail
                .front
                  = image_tag 'references/mps.jpg'
                .back
                  %h2.text-center Mueller Projects &amp; Services

                  %ul.text-center.list-unstyled
                    %li Design
                    %li Entwicklung

                  .reference
                    .fa.fa-external-link.fa-2x
                    = link_to 'www.muellerps.ch', 'http://www.muellerps.ch', target: '_blank'

            .col-xs-6.col-md-3
              .thumbnail
                .front
                  = image_tag 'references/einfachming.jpg'
                .back
                  %h2.text-center einfachMing

                  %ul.text-center.list-unstyled
                    %li Entwicklung

                  .reference
                    .fa.fa-external-link.fa-2x
                    = link_to 'www.einfachming.ch', 'http://www.einfachming.ch', target: '_blank'

            .col-xs-6.col-md-3
              .thumbnail
                .front
                  = image_tag 'references/thewayofthestone.jpg'
                .back
                  %h2.text-center The way of the Stone

                  %ul.text-center.list-unstyled
                    %li Entwicklung
                    %li Interne IT

                  .reference
                    .fa.fa-external-link.fa-2x
                    = link_to 'www.thewayofthestone.ch', 'http://www.thewayofthestone.ch', target: '_blank'

            .col-xs-6.col-md-3
              .thumbnail
                .front
                  = image_tag 'references/weixelbaumer-partner.jpg'
                .back
                  %h2.text-center Weixelbaumer &amp; Partner

                  %ul.text-center.list-unstyled
                    %li Entwicklung

                  .reference
                    .fa.fa-external-link.fa-2x
                    = link_to 'www.weixelbaumer-partner.ch', 'http://www.weixelbaumer-partner.ch', target: '_blank'

            .col-xs-6.col-md-3
              .thumbnail
                .front
                  = image_tag 'references/sagenweg.jpg'
                .back
                  %h2.text-center Sagenweg

                  %ul.text-center.list-unstyled
                    %li Konzept
                    %li Entwicklung
                    %li Design

                  .reference
                    .fa.fa-external-link.fa-2x
                    = link_to 'www.freiaemtersagenweg.ch', 'http://www.freiaemtersagenweg.ch', target: '_blank'

            .col-xs-6.col-md-3
              .thumbnail
                .front
                  = image_tag 'references/baumnatur.jpg'
                .back
                  %h2.text-center BaumNatur

                  %ul.text-center.list-unstyled
                    %li Entwicklung

                  .reference
                    .fa.fa-external-link.fa-2x
                    = link_to 'www.baumnatur.ch', 'http://www.baumnatur.ch', target: '_blank'

            .col-xs-6.col-md-3
              .thumbnail
                .front
                  = image_tag 'references/backnische.jpg'
                .back
                  %h2.text-center Backnische

                  %ul.text-center.list-unstyled
                    %li Entwicklung

                  .reference
                    .fa.fa-external-link.fa-2x
                    = link_to 'www.backnische.ch', 'http://www.backnische.ch', target: '_blank'

          %hr

          %h2 Open Source
          %p Open-Source ist ein wichtiger Teil meiner Arbeit, weil...

          %ul.oss
            %li Wissen allen zugänglich sein sollte.
            %li Ich mein technisches Können demonstrieren kann.
            %li Ich mich trotz meiner 1-Mann-Firma mit Gleichgesinnten austauschen kann.
            %li Ich durch meine Kontakte auf ein hochkompetentes Netzwerk von Spezialisten zurückgreifen kann.

          .table-responsive
            %table.table.table-hover.table-condensed
              %thead
                %tr
                  %th Projekt
                  %th Technologien
                  %th Beschreibung
              %tbody
                %tr
                  %td.text-center
                    = link_to 'https://github.com/guard', target: '_blank' do
                      = image_tag 'guard.png'
                  %td Ruby, CoffeeScript
                  %td
                    %p
                      = link_to 'https://github.com/guard/guard', target: '_blank' do
                        Guard
                      ist ein Tool welches Aufgaben im Entwicklungsprozess automatisiert, indem es auf Änderungen im Dateisystem reagiert.
                    %p
                      Durch ein grosses Ökosystem von Plugins stehen unzählige spezialisierte Helfer
                      zur Verfügung. Als Mitglied des Core-Teams helfe ich bei der Entwicklung von Guard mit und stelle mit
                      = succeed ',' do
                        = link_to 'Guard::Jasmine', 'https://github.com/netzpirat/guard-jasmine', target: '_blank'
                      = link_to 'Guard::CoffeeScript', 'https://github.com/netzpirat/guard-coffeescript', target: '_blank'
                      und
                      = link_to 'Guard::Cucumber', 'https://github.com/netzpirat/guard-cucumber', target: '_blank'
                      auch einige wichtige Plugins zur Verfügung.
                    %p
                      Guard und meine Plugins sind zusammen mehr mit
                      %strong 5 Millionen
                      mal heruntergeladen worden.

                %tr
                  %td.text-center
                    %h2 Haml-Coffee
                  %td CoffeeScript, Ruby
                  %td
                    %p
                      = link_to 'https://github.com/netzpirat/haml-coffee', target: '_blank' do
                        Haml-Coffee
                      ist ein JavaScript-Template-Engine, welche
                      = link_to 'HAML', 'http://haml.info/', target: '_blank'
                      und
                      = link_to 'CoffeeScript', 'http://coffeescript.org/', target: '_blank'
                      miteinander verheiratet. So können dynamisch HTML Fragmente anhand
                      von JavaScript Objekten generiert werden.
                    %p
                      Haml-Coffee funktioniert auf Node.JS, im Browser und mit
                      = link_to 'Haml Coffee Assets', 'https://github.com/netzpirat/haml_coffee_assets', target: '_blank'
                      stelle ich auch eine Integration in die Ruby on Rails Asset Pipeline bereit.
                    %p
                      Haml Coffee steht auch in einer
                      = link_to 'Online Version', 'http://haml-coffee-online.herokuapp.com/', target: '_blank'
                      zum Testen bereit.
                %tr
                  %td.text-center
                    = link_to 'https://github.com/coffeedoc', target: '_blank' do
                      = image_tag 'codo.png'
                  %td CoffeeScript, Node
                  %td
                    %p
                      = link_to 'https://github.com/coffeedoc/codo', target: '_blank' do
                        Codo
                      ist ein API Dokumentationsgenerator für CoffeeScript, welcher komplexe Objekthierarchien
                      analysiert, aufbereitet und daraus eine Dokumentation erstellt.
                    %p
                      Mit
                      = link_to 'http://www.coffeedoc.info', target: '_blank' do
                        Coffeedoc.info
                      steht der Generator auch mit einer GitHub-Integration Online zur Verfügung und wird unter
                      anderem von Dropbox verwendet.

          %p.github
            %i.fa.fa-github.fa-10x.pull-right
            Alle meine Open-Source Projekte sind auf GitHub zu finden, entweder unter
            = link_to 'FlinkFinger', 'https://github.com/flinkfinger', target: '_blank'
            oder meinem
            = link_to 'Netzpirat', 'https://github.com/netzpirat', target: '_blank'
            Pseudonym.

      %section#contact
        .container
          %address
            %h2
              Kontakt
            %ul
              %li.space
                FlinkFinger GmbH
                %br
                Schulgasse 8
                %br
                5620 Bremgarten
                %br
                Schweiz
              %li
                %abbr{ title: 'Telefon' } T:
                +41 56 536 33 62
              %li.space
                %abbr{ title: 'Mobil' } M:
                +41 79 244 55 61
              %li.space
                %a{ href: "mailto:hello@flinkfinger.com" } hello@flinkfinger.com
              %li
                = link_to '', 'https://plus.google.com/+FlinkFingerGmbHBremgarten/posts', class: 'fa fa-google-plus fa-lg', title: 'Google+', target: '_blank'
                = link_to '', 'https://www.xing.com/companies/flinkfingergmbh', class: 'fa fa-xing fa-lg', stitle: 'Xing', target: '_blank'
        #gmap

    = javascript_include_tag 'application'

    %script{ src: 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&callback=initializeMap' }

    :javascript
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-47064931-1');ga('send','pageview');
